.stream-main-container {
  width: 70%;
  margin: auto;
}

.stream-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  flex-direction: column;
  .t-header {
    color: #ff0083;
  }
}
.stream-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.stream-content {
  width: 250px;
  background-color: whitesmoke;
  // border: 1px solid black;
  margin: 40px;
  // padding: 30px;
  padding-bottom: 10px;
  border-radius: 6px;
}
.stream-img-main {
  margin: 0px;
}

.stream-img img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: block;
}
.stream-user {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.stream-user img {
  border-radius: 50%;
  height: 40px;
}
.stream-img-name {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10px;
  span {
    padding-left: 1rem;
  }
}
.stream-date span {
  margin-right: 7rem;
}
