.cs {
  margin: auto;
  min-height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  //   padding: 30px;

  .cs-left-container {
    width: 60%;
    video.cs-video {
      width: 100%;
    }
  }
  .cs-right-container {
    formfield {
      padding: 5%;
      display: block;
    }
  }
}
.space-to-upload-image
{
  width: 100px;
  height: 100px;
  background-color: #fff;
}