.cs {
  margin: auto;
  min-height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  //   padding: 30px;

  .cs-left-container {
    min-width: 60%;
    padding-top: 30px;
    video.cs-video {
      width: 100%;
    }
  }
  .cs-right-container {
    padding: 30px;
    text-align: left;
  }
}
.space-to-upload-image {
  width: 100px;
  height: 100px;
  background-color: #fff;
}
